* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.car-container {
  width: 75vw;
  height: 100vh;
  display: flex;
  
  z-index: 9999;
}
.wood {
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  animation: 8s infinite linear movingwood;
}

.car {
  font-size: 200px;
  color: orangered;
  color: oren;
  line-height: 882%;
  left: 25%;
   z-index: 9999;
  position: absolute;
  animation: 3s infinite linear car; 
}
.car2{
  height: 100vh;
  width: 20%;
  left: 50%;
  bottom: -43.3%;
  animation: 1s infinite linear car2; 
}

@keyframes movingwood {
 
  0% {
    transform: translateX(-0);
  } 
  10% {
    transform: translateX(-7.5%);
  }
  20% {
    transform: translateX(-15%);
  }
  30% {
    transform: translateX(-22.5%);
  }
  40% {
    transform: translateX(-30%);
  }
   50% {
    transform: translateX(-37.5%);
  } 
   60% {
    transform: translateX(-45%);
  }
  70% {
    transform: translateX(-52.5%);
  }
  80% {
    transform: translateX(-60%);
  }
  90% {
    transform: translateX(-67.5%);
  }
  100% {
    transform: translateX(-75%);
  } 
}

@keyframes car {
  0% {
    transform: translateY(-5px);
    transform: translateX(-500px);
  }
  25% {
    transform: translateY(0px);
    transform: translateX(500px);
  }
  50% {
    transform: translateY(0px);
    transform: translateX(1500px);
  }
  75% {
    transform: translateY(0px);
    transform: translateX(2000px);
  }
  100% {
    transform: translateY(-5px);
    transform: translateX(2500px);
  }
}
@keyframes car2 {
  0% {
    transform: translateY(-5px);
    
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
